# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python cache and database files
*.pyc
__pycache__/
*.sqlite3
*.db
*.log

# Environment and build files
.env
.env.*
*.local
.venv
venv/
dist
dist-ssr

# Node modules
node_modules/

# macOS and IDE files
.DS_Store
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
